@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #1E213A no-repeat;
  background-image: linear-gradient(rgba(1, 1, 34, 0.9), rgba(1, 1, 34, 0.9)), url(./images/Cloud-background.png);
}

.h{
  height: 100vh;  
  background: rgb(4, 0, 30);  
}

img{
  /* margin-top: 100px; */
  width: 150px;
}

.bg{
  background: #1E213A no-repeat;
  background-image: linear-gradient(rgba(1, 1, 34, 0.9), rgba(1, 1, 34, 0.9)), url(./images/Cloud-background.png);
}

.font-grade{  
  font-family: 'Raleway';
  font-style: normal;
  font-size: 60px;
  font-weight: 500;
}

.grades{ 
  color: #A09FB1;
  font-size: 40px;
  font-weight: 400;
  margin-left: 10px;
}

.weather{  
  color: #A09FB1;
  font-weight: 400;
  font-size: 30px;
}

.day{   
  color: #A09FB1;
}

.place{
  /* margin-top: 50px; */
  color: #A09FB1; 
  display: flex;
  align-items: center;
}
.bi{
  color: #A09FB1;
  margin-right: 10px;
}

.contenedor{
  width: 60%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;   
}

.contenedor1{  
  width: 50%;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.alineacion{
  width: 100%;
  justify-content: center;
}

.box{
  display: flex; 
  flex-direction: column; 
  margin: 0 auto;  
  align-items: center;
  width: 100%;
  background: #1E213A;  
  margin-top: 20px;
  margin-bottom: 20px;
}

.box1{
  display: flex; 
  flex-direction: column; 
  margin: 0 auto;  
  align-items: center;
  width: 100%;
  background: #1E213A;  
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tomorrow{
  margin-top: 0px;
  width: 62px;
}

.millas{
  font-size: 50px;
}


@media screen and (min-width: 762px) {
  .h{
    height: 100vh;
  }
  
  .bkg{
    margin-top: 50px;
    height: 100vh;    
  }

  .contenedor{
    width: 100%;
  }

  .contenedor1{
    width: 60%;
  }

  .box1{
    width: 100%;
  }

}
